
Metasploit
* https://github.com/security-cheatsheet/metasploit-cheat-sheet

Pivoting
* https://blog.pentesteracademy.com/network-pivoting-using-metasploit-and-proxychains-c04472f8eed0


## Online Tools

### Discovery

* Wappalyzer - https://www.wappalyzer.com/
  An online tool and browser extension that helps identify what technologies a website uses, such as frameworks, Content Management Systems (CMS), payment processors and much more, and it can even find version numbers as well

* The Wayback Machine - https://archive.org/web/
  A historical archive of websites that dates back to the late 90s

